@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    font-family: 'Dancing Script', cursive;
}

/* ..................GENERAL ENDS HERE...........................  */



/* ......................NAVBAR.................................. */

/* .navbar {
  font-size: 20px;
} */

 
/* .navbar a:hover {
  background-color: grey;
  color: black;
  border-top: 2px solid goldenrod;
} */


/* .navbar-item:hover {
  background-color: black;
  color: gray;
  padding: 1px;
 
} */

/* ....................NAVBAR ENDS HERE.................................  */



/* ...................HOME.................................................. */

.section {
    padding-top: 60px;
  }

  .main-pizza {
    position: relative;
    background-image: url("./Images/pizza.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
   
  }

  /* .text1 {
padding-top: 100px;
font-size: 60px;
  } */

  /* .text2 {
    border: 1px solid black;
   text-align: center;
   padding: 20px;
   font-size: 20px;
   background-color: black;
  } */

  /* .text2:hover {
    background-color: gray;
    color: black;
  } */

  /* .text3 {
    border: 1px solid black;
    text-align:center ;
    width: fit-content;
    margin-top: 75px;
    margin-left: 20px;
    padding: 1px;    
  } */
 

  /* ...............................HOME ENDS HERE.......................................  */



  /* ...............................MENU ENDS HERE.......................................  */

  

  /* ...............................MENU ENDS HERE.......................................  */



  /* ...............................ABOUT ENDS HERE.......................................  */



  /* ...............................ABOUT ENDS HERE.......................................  */



  /* ...............................CONTACT ENDS HERE.......................................  */



  /* ...............................CONTACT ENDS HERE.......................................  */



